<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ezo Electron App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Current Installed Vesion is v3.0.0</h1>
</ion-content>
